*{
    margin: 0;
    padding: 0;
    }
    body{
        height: 100dvh;
        width: 100%;
        font-family: 'Poppins', sans-serif;
    }
    .dash-container{
        display: flex;
        height: 100dvh;
        width: 30%;
        max-width: 300px;
        
    }
    label.open, label.close, input[type="checkbox" i]{
        display: none;
    }
    .fa-bars{
        font-size: 1.3em;
        right: -15px;
        top:8px
    } 
    .fa-times{
        font-size: 1.5em;
        right: -15px;
        top:8px
    }
    
    @media (min-width: 320px) and (max-width: 480px) {
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        .slidebar {
            max-width: 250px;
            min-width: 100px;
            height: 100vh;
            background-color: #dce8f5;
            box-shadow:  0 0 8px #000;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 30px;
            position: fixed;
            top: 0;
            left: -100%;
            transition: 0.5s ease;
            z-index: 100;
        }
        .slidebar .profile {
            width: 100%;
            height: 110px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 10;
        }
        .slidebar .profile::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -11;
        }
        .profile img {
            width: 20%;
            clip-path: circle();
            box-shadow: 0 0 4px #000;
        }
        .slidebar nav {
            width: 100%;
        }
        .slidebar nav .sidebar-menu {
            list-style: none;
        }
        label.open, label.close, input[type="checkbox" i]{
            display:block;
            z-index: 100;
        }
        .slidebar nav .sidebar-menu li a {
            display: block;
            text-decoration: none;
            color: #333;
            text-transform: capitalize;
            padding: 20px;
            transition: 0.5s ease;
        }
        .sidebar-menu{
            padding: 10px 0 0 0;
        }
        .menu-icon{
                    width: 30px;
                    height: auto;
                    margin-right: 50px;
                }
                .menu-item {
                    display: flex;
                    align-items: center;
                    color: #333;
                    text-decoration: none;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    transition: background-color 0.3s;
                }
        
                .menu-item.active, .menu-item:hover {
                    background-color: #d1e1fc;
                }
                .dropdown-btn:hover{
                    background-color: #d1e1fc;
                }
                /* Dropdown Content */
                .dropdown-content {
                    max-height: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 5em;
                    overflow: hidden;
                    transition: max-height 0.3s ease, padding 0.3s ease;
                    padding-left: 10px;
                }
        
                .dropdown-content a {
                    display: block;
                    padding: 8px 0;
                    color: #333;
                    font-size: 14px;
                    text-decoration: none;
                }
                .dropdown-btn {
                    width: 100%;
                    margin-bottom: 10px;
                    background-color: #dce8f5;
                    border: none;
                    text-align: left;
                    cursor: pointer;
                    outline: none;
                    transition: background-color 0.3s ease;
                    font-size: 16px;
                    color: #333;
                    font-family: 'Poppins', sans-serif;
                    align-self: center;
                }
                .dropdown-btn.active, .menu-item:hover {
                    background-color: #d1e1fc;
                }
                .slidebar  nav .sidebar-menu li a i {
                    margin-right: 15px;
                }
                .close {
                    cursor: pointer;
                    position: absolute;
                    top: 2px;
                    right: 10px;
                }
                .open {
                    cursor: pointer;
                    position: absolute;
                    top: 2px;
                    left: 10px;
                    color: black;
                    font-size: 1.5rem;
                }
                #check {
                    display: none;
                }
                #check:checked ~ .slidebar {
                    left: 0;
                }
    
    }
    
@media (min-width: 481px) and (max-width: 767px) {
            @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

            .slidebar {
                max-width: 300px;
                min-width: 300px;
                height: 100vh;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 30px;
                background-color: #dce8f5;
                box-shadow:  0 0 8px #000;
                position: fixed;
                top: 0;
                left: -100%;
                transition: 0.5s ease;
                z-index: 100;
            }
            .slidebar .profile {
                width: 100%;
                height: 125px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 1rem;
                z-index: 10;
            }
            .slidebar .profile::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                z-index: -11;
            }
            .profile img {
                width: 20%;
                clip-path: circle();
                box-shadow: 0 0 4px #000;
            }
            .slidebar nav {
                width: 100%;
            }
            .slidebar nav .sidebar-menu {
                list-style: none;
            }
            label.open, label.close, input[type="checkbox" i]{
                display:block;
                z-index: 100;
            }
            .slidebar nav .sidebar-menu li a {
                display: block;
                text-decoration: none;
                color: #333;
                text-transform: capitalize;
                padding: 20px;
                transition: 0.5s ease;
            }
            .sidebar-menu{
                padding: 10px 0 0 0;
            }
            .menu-icon{
                width: 30px;
                height: auto;
                margin-right: 50px;
            }
            .menu-item {
                display: flex;
                align-items: center;
                /* padding: 5px; */
                color: #333;
                text-decoration: none;
                margin-bottom: 10px;
                border-radius: 5px;
                transition: background-color 0.3s;
            }
    
            .dropdown-btn.active, .menu-item:hover {
                background-color: #d1e1fc;
            }
            .dropdown-btn:hover{
                background-color: #d1e1fc;
            }
            /* Dropdown Content */
            .dropdown-content {
                max-height: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 5em;
                overflow: hidden;
                transition: max-height 0.3s ease, padding 0.3s ease;
                padding-left: 10px;
            }
    
            .dropdown-content a {
                display: block;
                padding: 8px 0;
                color: #333;
                text-decoration: none;
            }
            .dropdown-btn {
                width: 100%;
                margin-bottom: 10px;
                background-color: #dce8f5;
                border: none;
                text-align: left;
                cursor: pointer;
                outline: none;
                transition: background-color 0.3s ease;
                font-size: 16px;
                color: #333;
                font-family: 'Poppins', sans-serif;
                align-self: center;
            }
            .slidebar  nav .sidebar-menu li a i {
                margin-right: 15px;
            }
            .close {
                cursor: pointer;
                position: absolute;
                top: 2px;
                right: 10px;
            }
            .open {
                cursor: pointer;
                position: absolute;
                top: 2px;
                left: 10px;
                color: black;
                font-size: 1.5rem;
            }
            #check {
                display: none;
            }
            #check:checked ~ .slidebar {
                left: 0;
            }
            img {
                margin-left: 5p;
            }
        }

    @media (min-width: 767px) and (max-width: 1024px) {

        .profile {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 4px;
            margin: 4px 0;
        }
    
        .profile img {
            margin: 2px 0 8px;
            width: 70px;
            height: auto;
            border-radius: 50%;
        }
    
        .slidebar {
            background-color: #dce8f5;
            display: flex;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 30%; /* Increased to give more width to the sidebar */
            height: 100vh;
            width: 100%;
            min-width: 260px;
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
    
        .menu-icon {
            width: 24px;
            height: auto;
            margin-right: 25px;
        }
    
        .dropdown-btn {
            width: 100%;
            padding: 5px;
            margin-bottom: 5px;
            background-color: #dce8f5;
            border: none;
            text-align: left;
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s ease;
            font-size: 1rem;
            font-family: 'Poppins', sans-serif;
        }
    
        .menu-item {
            display: flex;
            align-items: center;
            padding: 6px;
            color: #333;
            text-decoration: none;
            font-size: 1rem;
            margin-bottom: 5px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
    
        .dropdown-btn.active, .menu-item:hover {
            background-color: #d1e1fc;
        }
    
        .dropdown-btn:hover {
            background-color: #d1e1fc;
        }
    
        .dropdown-content {
            max-height: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 3.5em;
            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.3s ease;
            padding-left: 6px;
        }
    
        .dropdown-content a {
            display: block;
            padding: 4px 0;
            color: #333;
            text-decoration: none;
        }
    
        .dropdown-content a:hover {
            color: firebrick;
        }
    }
    @media (min-width: 1024px) and (max-width: 1280px) {

        .profile {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 6px;
            margin: 6px 0;
        }
    
        .profile img {
            margin: 3px 0 10px;
            width: 80px;
            height: auto;
            border-radius: 50%;
        }
    
        .slidebar {
            background-color: #dce8f5;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 30%; /* Slightly wider for medium screens */
            height: 100vh;
            width: 100%;
            max-width: 300px;
            overflow: auto; /* Ensure smooth scrolling */
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
    
        .menu-icon {
            width: 26px;
            height: auto;
            margin-right: 30px;
        }
    
        .dropdown-btn {
            width: 100%;
            padding: 6px;
            margin-bottom: 6px;
            background-color: #dce8f5;
            border: none;
            text-align: left;
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s ease;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
        }
    
        .menu-item {
            display: flex;
            align-items: center;
            padding: 6px;
            color: #333;
            text-decoration: none;
            margin-bottom: 6px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
    
        .dropdown-btn.active, .menu-item:hover {
            background-color: #d1e1fc;
        }
    
        .dropdown-btn:hover {
            background-color: #d1e1fc;
        }
    
        .dropdown-content {
            max-height: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 4em;
            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.3s ease;
            padding-left: 6px;
        }
    
        .dropdown-content a {
            display: block;
            padding: 5px 0;
            color: #333;
            text-decoration: none;
        }
    
        .dropdown-content a:hover {
            color: firebrick;
        }
    }
    @media (min-width: 1281px) and (max-width: 1440px) {
        
        .profile {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 8px;
            margin: 8px 0;
        }
        
        .profile img {
            margin: 4px 0 12px;
            width: 90px; 
            height: auto;
            border-radius: 50%;
        }
        
        .slidebar {
            background-color: #dce8f5;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 30%; 
            height: 100vh;
            width: 100%;
            overflow: scroll;
            scrollbar-width: none; 
            -ms-overflow-style: none; 
        }
    
        .menu-icon {
            width: 28px;
            height: auto;
            margin-right: 40px;
        }
    
        .dropdown-btn {
            width: 100%;
            padding: 8px; 
            margin-bottom: 8px;
            background-color: #dce8f5;
            border: none;
            text-align: left;
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s ease;
            font-size: 15px; 
            font-family: 'Poppins', sans-serif;
            align-self: center;
        }
    
        .menu-item {
            display: flex;
            align-items: center;
            padding: 8px; 
            color: #333;
            text-decoration: none;
            margin-bottom: 8px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
    
        .dropdown-btn.active, .menu-item:hover {
            background-color: #d1e1fc;
        }
        
        .dropdown-btn:hover {
            background-color: #d1e1fc;
        }
        
        .dropdown-content {
            max-height: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 4.5em;
            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.3s ease;
            padding-left: 8px;
        }
    
        .dropdown-content a {
            display: block;
            padding: 6px 0;
            color: #333;
            text-decoration: none;
        }
    
        .dropdown-content a:hover {
            color: firebrick;      
        }
    }
    @media (min-width: 1441px) and (max-width: 1920px) {
        
        .profile{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            margin: 10px 0;

        }
        
        .profile img{
            margin: 5px 0 15px;
            width: 100px;
            height: auto;
            border-radius: 50%;
        }
        .slidebar{
            background-color: #dce8f5;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 30%;
            height: 100dvh;
            width: 100%;
            max-width: 300px;
            overflow: scroll;
            scrollbar-width:none; /* Firefox */
            -ms-overflow-style:none; /* IE and Edge */
        }
        .check{
            appearance: none;
        }
        .fas{
            appearance: none;
        }
        
        .menu-icon{
            width: 30px;
            height: auto;
            margin-right: 50px;
        }

        .dropdown-btn {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #dce8f5;
            border: none;
            text-align: left;
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s ease;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            align-self: center;
        }


        .menu-item {
            display: flex;
            align-items: center;
            padding: 10px;
            color: #333;
            text-decoration: none;
            margin-bottom: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .dropdown-btn.active, .menu-item:hover {
            background-color: #d1e1fc;
        }
        .dropdown-btn:hover{
            background-color: #d1e1fc;
        }
        /* Dropdown Content */
        .dropdown-content {
            max-height: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 5em;
            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.3s ease;
            padding-left: 10px;
        }

        .dropdown-content a {
            display: block;
            padding: 8px 0;
            color: #333;
            text-decoration: none;
        }

        .dropdown-content a:hover {
           color: firebrick;      
        }
    }